.dashboard {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.dashboard-body {
    position: relative;
    width: 84%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 1em;
}

.dashboard-chart-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.dashboard-chart-section {
    width: 70%;
}

.dashboard-data-section {
    display: flex;
    gap: 30px;
}

.dashboard-infos-section {
    display: flex;
    flex-direction: column;
    gap: 39px;
    width: 30%;
}

@media (max-width: 1400px) {
    .dashboard-chart-section {
        width: 100%;
    }
    .dashboard-data-section {
        flex-direction: column;
    }
    .dashboard-infos-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 30px;
    }
}

@media (max-width: 1256px) {
    .dashboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        height: 100%;
    }
    .dashboard-body {
        height: fit-content;
    }
    .dashboard-chart-group {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }
}
