.bg-secondary {
    background: var(--secondary);
}

.bg-light {
    background: var(--light);
}

.bg-danger {
    background: var(--danger);
}

.bg-dark {
    background: var(--dark);
}

.text-light {
    color: var(--light);
}
