.barchart-title {
    position: absolute;
    left: 30px;
    top: -10px;
}

.bar-chart-wrapper {
    position: relative;
    max-width: 835px;
    max-height: 320px;
}

.barchart-tooltip {
    padding: 7px;
    height: 100%;
    border: none;
}

.label {
    text-align: center;
}
