.navbar {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar_header {
    width: 20%;
    display: flex;
    justify-content: center;
}

.navbar_menu {
    display: flex;
    align-items: center;
    width: 66%;
    gap: 7rem;
    margin-left: 3rem;
}

.navbar-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

@media (max-width: 1256px) {
    .navbar_menu {
        gap: 2rem;
    }
}
