.sidebar {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 164px;
}

.sidebar > p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.sidebar-icons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-icons > img {
    width: 64px;
    height: 64px;
}

@media (max-width: 1256px) {
    .sidebar {
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding: 10px;
    }
    .sidebar > p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }
    .sidebar-icons {
        flex-direction: row;
    }
    .sidebar-icons > img {
        width: 50px;
        height: 50px;
    }
}
