@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  --dark: #020203;
  --danger: #ff0000;
  --primary: #4ab8ff;
  --alert: #f9ce23;
  --rose: #fd5181;
  --light: #fbfbfb;
  --secondary: #e5e5e5;
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--dark);
}

.square-part {
  max-width: 258px;
  max-height: 263px;
}

.bg-light {
  background-color: var(--light);
}

.bg-secondary {
  background-color: var(--secondary);
}
