:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  --dark: #020203;
  --danger: #ff0000;
  --primary: #4ab8ff;
  --alert: #f9ce23;
  --rose: #fd5181;
  --light: #fbfbfb;
  --secondary: #e5e5e5;
}

body {
  background-color: var(--dark);
}
