.error-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 1em;
}

.error-main > h2,
.error-main > span,
.error-main > a {
    color: var(--light);
}

.error-main > h2 {
    font-size: 40px;
}
